<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="sibasApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Sibas!</h3>
      </div>

      <div ng-controller="MainCtrl">
        <form class="form" role="form">

          <div class="row">
            <div class="col-xs-8">

              <div class="form-group">
                <input class="form-control" type="text" placeholder="Start typing..." ng-model="customText.name">
              </div>

            </div>
            <div class="col-xs-4">

              <div class="form-group" ng-hide="!types">
                <select data-style="btn-info"
                        class="bs-select selectpicker"
                        ng-options="type as type for type in types"
                        ng-model="type"
                        ng-change="byType()">
                  <option></option>
                </select>
              </div>

            </div>
          </div>
        </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th><span class="badge">{{filtered.length}}</span></th>
              <th><a class="sortlink" href="" ng-click="sortField='name'; reverse=!reverse;">Name</a></th>
              <th><a class="sortlink" href="" ng-click="sortField='name_ru'; reverse=!reverse;">Name Ru</a></th>
              <th><a class="sortlink" href="" ng-click="sortField='prev_name'; reverse=!reverse;">Prev. Name</a></th>
              <th><a class="sortlink" href="" ng-click="sortField='district'; reverse=!reverse;">Coordinates</a></th>
              <th><a class="sortlink" href="" ng-click="sortField='district'; reverse=!reverse;">District</a></th>
              <th><a class="sortlink" href="" ng-click="sortField='area'; reverse=!reverse;">Area</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in filtered | filter:customText | orderBy:sortField:reverse | limitTo:40">
              <td>{{item.type}}</td>
              <td>{{item.name}}</td>
              <td>{{item.name_ru}}</td>
              <td>{{item.prev_name}}</td>
              <td><a target="_blank" ng-href="https://www.google.com.ua/maps/preview?q={{item.coordinates.join('+')}}">{{item.coordinates.join(' ')}}</a></td>
              <td>{{item.district}}</td>
              <td>{{item.area}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="footer">
        <p><span style="color: #d43f3a;"class="glyphicon glyphicon-heart "></span> for the <strong>Sibas!</strong> team</p>
      </div>
    </div>


    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/data.js"></script>
        <script src="scripts/services/bsui.js"></script>
        <!-- endbuild -->
</body>
</html>
