
<form class="form" role="form">
  <div class="row">
    <div class="col-xs-4">
      <a ng-hide="!district" ng-click="get()" class="btn btn-success sibas-moar">Moar!!1</a>
    </div>

    <div class="col-xs-4">
      <div class="form-group" ng-hide="!districts">
        <select data-style="btn-info"
                class="bs-select selectpicker"
                ng-options="district as district for district in districts"
                ng-model="district">
          <option></option>
        </select>
      </div>
    </div>
  </div>
</form>

<div class="well sibas-streets">
  <ol class="">
    <li ng-repeat="item in data">{{item.type}} {{item.name}}</li>
  </ol>
</div>
