
<form class="form" role="form">
  <div class="row">
    <div class="col-xs-8">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Start typing..." ng-model="customText">
      </div>
    </div>
    <div class="col-xs-4">
      <div class="form-group" ng-hide="!types">
        <select data-style="btn-info"
                class="bs-select selectpicker"
                ng-options="type as type for type in types"
                ng-model="type"
                ng-change="byType()">
          <option></option>
        </select>
      </div>
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th><span class="badge">{{filtered.length}}</span></th>
      <th><a class="sortlink" href="" ng-click="sortField='name'; reverse=!reverse;">Name</a></th>
      <th><a class="sortlink" href="" ng-click="sortField='name_ru'; reverse=!reverse;">Name Ru</a></th>
      <th><a class="sortlink" href="" ng-click="sortField='prev_name'; reverse=!reverse;">Prev. Name</a></th>
      <th><a class="sortlink" href="" ng-click="sortField='district'; reverse=!reverse;">District</a></th>
      <th><a class="sortlink" href="" ng-click="sortField='area'; reverse=!reverse;">Area</a></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in filtered | regexFilter:customText | orderBy:sortField:reverse | limitTo:40">
      <td>{{item.type}}</td>
      <td><a target="_blank" ng-href="https://www.google.com.ua/maps/preview?q={{item.coordinates.join('+')}}">{{item.name}}</a></td>
      <td>{{item.name_ru}}</td>
      <td>{{item.prev_name}}</td>
      <td>{{item.district}}</td>
      <td>{{item.area}}</td>
    </tr>
  </tbody>
</table>
